<!-- 
	Put the skeleton HTML for your Application here
	DO NOT include <html>, <head>, or <body> tags
	
	Create a separate template for any repeatable components
-->

<div>

	<script type="text/template" id="template_app">
	
<div class="body">
	<header id="header2">
		<img src="images/logo.png" id="headerLogo" alt="Header Logo"> 
		
			<nav id="topNav">
				<ul>
					<li><a href="index.html">Home  |</a></li>
					<li><a href="projects.html">  My Projects  |</a></li>
					<li><a href="tasks.html">  My Tasks  |</a></li>
					<li><a href="#">  Log Out</a></li>
				</ul>
			</nav>
	</header>
		
   	<footer> 
			<nav id="footerNav">
				<ul>
					<li><a href="index.html">Home</a></li>  |
					<li><a href="projects.html">My Projects</a></li> |
					<li><a href="tasks.html">My Tasks</a></li>
				</ul>
			</nav>
	</footer>
</div>
	
	</script>
	
	
	<script type="text/template" id="template_task_link">
	
<div class="body">
	<header id="header2">
		<img src="images/logo.png" id="headerLogo" alt="Header Logo"> 
		
			<nav id="topNav">
				<ul>
					<li><a href="index.html">Home  |</a></li>
					<li><a href="projects.html">  My Projects  |</a></li>
					<li><a href="tasks.html">  My Tasks  |</a></li>
					<li><a href="#">  Log Out</a></li>
				</ul>
			</nav>
	</header>
		
   	<footer> 
			<nav id="footerNav">
				<ul>
					<li><a href="index.html">Home</a></li>  |
					<li><a href="projects.html">My Projects</a></li> |
					<li><a href="tasks.html">My Tasks</a></li>
				</ul>
			</nav>
	</footer>
</div>
	
	</script>
	
	
	<script type="text/template" id="template_task_view">
	
<div class="body">
	<header id="header2">
		<img src="images/logo.png" id="headerLogo" alt="Header Logo"> 
		
			<nav id="topNav">
				<ul>
					<li><a href="index.html">Home  |</a></li>
					<li><a href="projects.html">  My Projects  |</a></li>
					<li><a href="tasks.html">  My Tasks  |</a></li>
					<li><a href="#">  Log Out</a></li>
				</ul>
			</nav>
	</header>
		
   	<footer> 
			<nav id="footerNav">
				<ul>
					<li><a href="index.html">Home</a></li>  |
					<li><a href="projects.html">My Projects</a></li> |
					<li><a href="tasks.html">My Tasks</a></li>
				</ul>
			</nav>
	</footer>
</div>
	
	</script>
	
	
	<!-- more component templates here -->
	
</div>